<div id="clerk-sign-in"></div>

<script>
  document.addEventListener('turbo:load', async function () {
    const container = document.getElementById('clerk-sign-in');
    
    if (container && window.Clerk) {
      if (!Clerk.loaded) {
        await Clerk.load();
      }
      Clerk.mountSignIn(container, {
        signUpUrl: '<%= ENV["CLERK_SIGN_UP_URL"] %>',
        afterSignInUrl: '<%= ENV["CLERK_AFTER_SIGN_IN_URL"] %>'
      });
    }
  });
</script>